
.landing-page .tree-card {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.tree-inner {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tree-node {
  transform: scaleY(1.2);
}

@media (max-width: 620px) {
  .tree-node { transform: scale(0.9); }
}

@media (max-width: 500px) {
  .tree-node { transform: scale(0.8); }
}
