<div class="tree-scale-stage" data-canvas-width="{{ tree.canvas_width }}" data-canvas-height="{{ tree.canvas_height }}" style="--canvas-width: {{ tree.canvas_width }}; --canvas-height: {{ tree.canvas_height }};">
  <div class="tree-canvas" style="position: relative; width: {{ tree.canvas_width }}px; height: {{ tree.canvas_height }}px;">
    <svg class="tree-svg" viewBox="0 0 {{ tree.canvas_width }} {{ tree.canvas_height }}" aria-hidden="true">
      {% for link in tree.connectors %}
      <line class="tree-connector" x1="{{ link.x1 }}" y1="{{ link.y1 }}" x2="{{ link.x2 }}" y2="{{ link.y2 }}"></line>
      {% endfor %}
    </svg>
    {% for person in tree.people %}
    <figure class="person-card" style="left: {{ person.x }}px; top: {{ person.y }}px; width: 96px; position: absolute;">
      <div class="portrait-frame">
        <img src="{{ person.photo }}" alt="{{ person.name }} portrait">
      </div>
      <figcaption class="nameplate compact">
        <span class="person-name">{{ person.name }}</span>
        <span class="person-years">{{ person.years }}</span>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</div>
